<h1>Eve Resources Tool</h1>

<!-- So like here I have no idea what I'm doing. I want to iterate through the categories and when I click on one,
go to a 'show page' of sorts (or rather an index page that's been filtered by what you click on) -->

<!-- I had something like this earlier -->

<ul>
  <% @categories.each do |category| %>
  <li>
    <%= link_to "#{category.name}", category_path(category.id) %>
  </li>
  <% end %>
</ul>

<br>

<%= link_to "Add a New Category", new_category_path %>

<br>
<br>

<%= link_to "Add a New Link", new_link_path %>
